*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
		sans-serif;
	color: white;
}

body {
	background-color: #161819;
	margin: 0;
	padding: 0;
}

/* Highlighter */

::-moz-selection {
	background-color: rgba(95, 254, 255, 0.2);
	color: white;
}

::selection {
	background-color: rgba(95, 254, 255, 0.2);
	color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: #424242;
}

::-webkit-scrollbar-thumb {
	background: #222526;
}

::-webkit-scrollbar-thumb:hover {
	background: #2e3234;
}
